### Q. ""Declare a float value and store it in a variable , Check the type and print the id of the same.""

In [3]:
a = 10.05
b = 10.05

print(type(a))
print(id(a))
print(id(b))
print(a is b)

<class 'float'>
2226617483056
2226617481904
False

## Q. Arithmetic Operations on float ,Take two different float values. Store them in two different variables.

- Do below operations on them:-
- Find sum of both numbers
- Find difference between them
- Find the product of both numbers.
- Find value after dividing first num with second number
- Find the remainder after dividing first number with second number
- Find the quotient after dividing first number with second number
- Find the result of the first num to the power of the second number.

In [9]:
a=10.05
b=5.0

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

15.05
5.050000000000001
50.25
2.0100000000000002
0.05000000000000071
2.0
102525.12531281254

## Q. Comparison Operators on float , Take two different float values. Store them in two different variables.

- Do below operations on them:-
-  Compare these two numbers with below operator:-
-  Greater than, '>'
-  Smaller than, '<'
-  Greater than or equal to, '>='
-  Less than or equal to, '<='
- Observe their output(return type should be boolean)

In [10]:
a=40.05
b=30.05

print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

True
False
True
False

## Q. Equality Operator , Take two different float values. Store them in two different variables.

- Equate them using equality operators (==, !=)
- Observe the output(return type should be boolean)

In [11]:
a=15.5
b=23.5

print(a==b)
print(a!=b)

False
True

# Q. Logical operators
- Observe the output of below code
- Cross check the output manually

In [12]:
print(10.20 and 20.30) 
# both are true and second value taken --> Output is 20.3


print(0.0 and 20.30) 
# First is false so first value taken --> Output is 0.0


print(20.30 and 0.0) 
# Goes to till second and second value is false so second is taken --> Output is 0.0


print(0.0 and 0.0)
# First is false so first value is taken --> Output is 0.0


print(10.20 or 20.30) 
# First is True so first value is taken --> Output is 10.2


print(0.0 or 20.30) 
# Goes to till second and second is true second value is taken --> Output is 20.3


print(20.30 or 0.0) 
# First is True so first value is taken --> Output is 20.3


print(0.0 or 0.0) 
# Goes to till second and second is also false and second value is taken>Output is 0.0


print(not 10.20) 
#-Not of true is false->Output is False


print(not 0.0) 
#Not of false is True>Output is True

20.3
0.0
0.0
0.0
10.2
20.3
20.3
0.0
False
True

## Q. What is the output of expression inside print statement. Cross check  before running the program.

- a = 10.20
- b - 10.20
- print(a is b) #True or False? True 10.20<256
- print(a is not b) #True or False? False

In [21]:
a = 10.20
b = 10.20

print(a is b) #--> False --> Because memory re usablity Function is not applicable For FLoat Data Type 
print(a is not b)# --> True --> Because memory re usablity Function is not applicable For FLoat Data Type

# Q.Why the Id of float values are different when the same value is assigned to two different variables
# ""ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a and c's Id are same  --> 
# Ans.. --> Yes""  Because Of == is Eqality Operater It is Only check Value and identity Operater check Memory id

a = 10.5 
b = 10.5
a = c

print(a == b)
print(a is c)

False
True
------------------
True
True

# Q. Bitwise operation is not applicable between instances of float.
- Why the Id of float values are different when the same value is
- assigned to two different variables
- ex: a = 10.5 b=10.5. but id will be same if I assign the variable
- having float i.e. a=c then both a and c's Id are same
- Object reusability concept is not applicable on float values.

## Q. Membership operation ''in'' , ''not in''  are two membership operators and it returns boolean value

In [ ]:
print('2.7' in 'Python2.7.8') #True


print(10.20 in [10,10.20,10+20j,'Python']) #True


print(10.20 in (10,10.20,10+20j,'Python')) # True


print(20.30 in {1,20.30,30+40j}) # True


print(2.3 in {1:100, 2.3:200, 30+40j:300}) # True


print(10 in range(20)) # True